<html xmlns:th="http://www.thymeleaf.org"
	th:replace="/shared/layout::dynamic(~{::view})">

<div th:fragment="view">
	<link rel="stylesheet" type="text/css" href="/css/admin2.css">

	<div th:replace="/cart/view :: view">Cart</div>
	</br> </br>
	<section class="panel important">
		<i th:text="${message}" class="text-end"></i>
		<form action="/order/purchase" method="post">
			
			<div class="twothirds">
		
				<label>Recipient: </label>
				<input type="text" name="recipient"required >
			
				<label>Address: </label>
				<input type="text" name="address" required>
		
				<label>Phone: </label>
				<input type="text" name="mobile" required >

				<label>Notes: </label>
				<textarea name="notes" row="3" required></textarea>
				
			<button id="button">Checkout</button>
			
			</div>
		</form>
	</section>
</div>

</html>